<% provide(:title, "Stock_list") %>
<h1><strong>在庫一覧</strong></h1>

<div class="container">
    <%= form_with(url:import_user_stocks_path) do |f| %>
    <%= f.label :在庫 %>
    <%= f.file_field :file, accept: '.csv' %>
    <%= f.submit "登録", class: "btn btn-primary csv-button" %>
    <% end %>
    <table class="table table-bordered table-hover table-inverse">
        <thead>
            <tr>
                <th>陳列番号</th>
                <th>カテゴリー名</th>
                <th>在庫名</th>
                <th>在庫の説明</th>
                <th>価格</th>
                <th>数量</th>
            </tr>
        </thead>
        <tbody>
            <% @stocks.each do |stock| %>
                <tr>
                    <td><%= stock.display_number %></td>
                    <td><%= stock.category_name %></td>
                    <td><%= stock.stock_name %></td>
                    <td><%= stock.stock_description %></td>
                    <td>￥<%= stock.price %></td>
                    <td><%= stock.quantity %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>