<% provide(:title, "stock_datail") %>
<div class="container">
    <div class="row">
        <h1><strong>在庫詳細</strong></h1>
        <table class="table table-bordered table-hover table-inverse">
            <thead>
                <tr>
                    <th>写真</th>
                    <th>カテゴリー名</th>
                    <th>在庫名</th>
                    <th>在庫の説明</th>
                </tr>
            </thead>

            <tbody>
            <% @stocks.each do |stock| %>
                <tr>
                    <td></td>
                    <td><%= stock.category_name %></td>
                    <td><%= stock.stock_name %></td>
                    <td><%= stock.stock_description %></td>
                    <td><%= link_to "編集", edit_stock_detail_user_stock_path(stock), remote: true, class: "btn btn-primary" %></td>
                    <td><%= link_to "削除", destroy_stock_detail_user_stock_path(stock), method: :delete, data: { confirm: "削除してもよろしいですか？" }, class: "btn btn-danger" %></td>
                </tr>
            <% end %>
            </tbody>
        </table>
        <%= link_to "検索結果", search_result_user_stock_path %>
    </div>
</div>
<!--モーダルウインドウ表示-->
<div id="edit-stock-detail" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
