<% provide(:title, "Stock_search") %>
<div class="container">
    <h1><strong>在庫検索</strong></h1>
    <%= search_form_for @q, url: search_result_user_stock_path do |f| %>
    
        <%= f.label :category_name_cont, 'カテゴリー名を入力してください' %>
        <%= f.search_field :category_name_cont, placeholder: 'カテゴリー名', class: "form-control" %>

        <%= f.label :stock_name_cont, '在庫名を入力してください' %>
        <%= f.search_field :stock_name_cont, placeholder: '在庫名', class: "form-control" %><br>
        <%= f.submit '検索', class: 'btn btn-primary' %>
    <% end %>
</div>